<header>
    <div class="container-global mx-auto  w-100">
        <div class="row  ">
            <div class="col-xs-4 is-flex">
                <a class="link logo simple" href="/">
                    <div class="  is-flex ">
                        <div class="mr-16">
                            <svg width="25" height="33" viewBox="0 0 37 33" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 0V33H31.505L37 31.1667V18.7L33.3366 16.1333L37 12.8333V2.56667L30.4059 0H0Z"
                                    fill="black" />
                            </svg>
                        </div>
                        <div class="fluid-8-b"><span class="fluid-8-l">The</span>Boilerplate</div>
                    </div>
                </a>
            </div>
            <div class="col-xs-8 text-right is-flex align-multi-center content-end">
                <div class="menu ">
                    <div class="menu-mobile">
                        <div id="menu-toggle" class="">
                            <div class="">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </div>
                    </div>
                    <ul class="list-clear   text-right is-flex  content-end menu-desktop-wrap ">
                        <li class="pr-16"> <a aria-label="link menu-link" class="menu-desktop" href="/">Boilerplate </a>
                        </li>
                        {# <li class="pr-16"> <a aria-label="link  menu-link superior" class="menu-desktop"
                                href="/servicios">Servicios </a></li>
                        #}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
</header>